* {
  margin: 0%;
  padding: 0%;
}
#left {
  float: left;
  height: 100%;
  width: 20%;
  background-color: #09192a;
  position: fixed;
}
.link {
  border-bottom: solid rgba(37, 34, 72, 0.638) 1px;
  margin-top: 17px;
  padding-bottom: 17px;
}
#right {
  float: right;
  background-color: #d1e6e3;
  height: 1300px;
  width: 80%;
}
#left a {
  color: white;
  font-family: "open sans", sans-serif;
  font-size: 15px;
  text-decoration: none;
}
.form {
  width: 40%;
  height: 600px;
  border: solid 1px #4185c5;
  margin-left: 40px;
  margin-top: 60px;
  float: left;
  background-color: white;
  border-radius: 6px;
}
.form-header {
  width: 100%;
  height: 40px;
  color: white;
  background-color: #4185c5;
}
.form-header h3 {
  padding: 10px 20px;
  font-weight: 1;
}
.form-group {
  font-size: 18px;
  line-height: 30px;
  margin-left: 13px;
  font-family: "Open Sans", sans-serif;
}
.form-control {
  width: 92%;
  height: 30px;
  border: solid 1px;
  border-color: lightgray;
  border-radius: 6px;
}
.form-group2 {
  line-height: 35px;
}
.form-control2 {
  width: 95%;
  height: 35px;
}
#left .link :hover {
  color: #1a77a5;
}
#submit {
  margin-top: 20px;
  background-color: #1a77a5;
  border-color: #1a77a5;
  border-radius: 5px;
  color: white;
  height: 40px;
  width: 130px;
}

#right h1 {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.795);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;

  font-size: 36px;
  padding: 40px 30px 20px;
  border-bottom: 1px solid #c7d1dd;
}
